.admin-root {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.admin-menu {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-right {
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-toolbar {
    width: 100%;
    height: 70px;
}

.admin-body {
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
}
